<%= form_for(@mock_track) do |f| %>
  <% if @mock_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mock_track.errors.count, "error") %> prohibited this mock_track from being saved:</h2>

      <ul>
      <% @mock_track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :track_id %><br>
    <%= f.number_field :track_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
